CREATE PhoneManagement
GO
USE [PhoneManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK__Account__C9F28457308CCB7D] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [int] IDENTITY(1,1) NOT NULL,
	[DateCheckIn] [date] NOT NULL,
	[idNewBill] [int] NOT NULL,
	[status] [int] NOT NULL,
	[discount] [int] NULL,
	[totalPrice] [float] NULL,
 CONSTRAINT [PK__Bill__E6F93398F23DC07E] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[idBillInfo] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idItemPhone] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK__BillInfo__771580BBEA3674F3] PRIMARY KEY CLUSTERED 
(
	[idBillInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewBill]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewBill](
	[idNewBill] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__NewBill__3C69844F11C9AE56] PRIMARY KEY CLUSTERED 
(
	[idNewBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[idPhone] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idItemPhone] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK__Phone__669B25A6E58155D0] PRIMARY KEY CLUSTERED 
(
	[idItemPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneCategory]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneCategory](
	[idStore] [int] NOT NULL,
	[idPhone] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__PhoneCat__E540EED671D24F22] PRIMARY KEY CLUSTERED 
(
	[idPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreCategory]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreCategory](
	[idStore] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__StoreCat__A4B61B106732E0AC] PRIMARY KEY CLUSTERED 
(
	[idStore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'admin', N'Admin', N'1', 1)
INSERT [dbo].[Account] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'staff', N'Staff', N'0', 0)
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([idBill], [DateCheckIn], [idNewBill], [status], [discount], [totalPrice]) VALUES (108, CAST(N'2020-11-09' AS Date), 12, 1, 0, 2800000)
INSERT [dbo].[Bill] ([idBill], [DateCheckIn], [idNewBill], [status], [discount], [totalPrice]) VALUES (109, CAST(N'2020-11-09' AS Date), 12, 1, 0, 1000000)
INSERT [dbo].[Bill] ([idBill], [DateCheckIn], [idNewBill], [status], [discount], [totalPrice]) VALUES (110, CAST(N'2020-11-09' AS Date), 12, 1, 0, 4500000)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[BillInfo] ON 

INSERT [dbo].[BillInfo] ([idBillInfo], [idBill], [idItemPhone], [count]) VALUES (9, 108, 29, 2)
INSERT [dbo].[BillInfo] ([idBillInfo], [idBill], [idItemPhone], [count]) VALUES (11, 109, 31, 9)
INSERT [dbo].[BillInfo] ([idBillInfo], [idBill], [idItemPhone], [count]) VALUES (13, 110, 31, 9)
SET IDENTITY_INSERT [dbo].[BillInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[NewBill] ON 

INSERT [dbo].[NewBill] ([idNewBill], [name], [status]) VALUES (12, N'NewBill 1', N'New Bill')
INSERT [dbo].[NewBill] ([idNewBill], [name], [status]) VALUES (13, N'NewBill 2', N'New Bill')
SET IDENTITY_INSERT [dbo].[NewBill] OFF
GO
SET IDENTITY_INSERT [dbo].[Phone] ON 

INSERT [dbo].[Phone] ([idPhone], [name], [idItemPhone], [price]) VALUES (1, N'iPhone 7 plus', 29, 1400000)
INSERT [dbo].[Phone] ([idPhone], [name], [idItemPhone], [price]) VALUES (2, N'SamSung galaxy s7', 31, 500000)
INSERT [dbo].[Phone] ([idPhone], [name], [idItemPhone], [price]) VALUES (2, N'SamSung galaxy s8', 35, 500000)
SET IDENTITY_INSERT [dbo].[Phone] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneCategory] ON 

INSERT [dbo].[PhoneCategory] ([idStore], [idPhone], [name]) VALUES (1, 1, N'APPLE')
INSERT [dbo].[PhoneCategory] ([idStore], [idPhone], [name]) VALUES (1, 2, N'SAMSUNG')
INSERT [dbo].[PhoneCategory] ([idStore], [idPhone], [name]) VALUES (1, 3, N'HUAWEI')
SET IDENTITY_INSERT [dbo].[PhoneCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[StoreCategory] ON 

INSERT [dbo].[StoreCategory] ([idStore], [name]) VALUES (1, N'Moblie Phone')
INSERT [dbo].[StoreCategory] ([idStore], [name]) VALUES (2, N'Accessories')
INSERT [dbo].[StoreCategory] ([idStore], [name]) VALUES (3, N'Moblie Phone')
SET IDENTITY_INSERT [dbo].[StoreCategory] OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__Display__24927208]  DEFAULT (N'Kter') FOR [DisplayName]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__PassWor__25869641]  DEFAULT ((0)) FOR [PassWord]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__Type__267ABA7A]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF__Bill__DateCheckI__5C37ACAD]  DEFAULT (getdate()) FOR [DateCheckIn]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF__Bill__status__5D2BD0E6]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[BillInfo] ADD  CONSTRAINT [DF__BillInfo__idItem__68687968]  DEFAULT ((0)) FOR [idItemPhone]
GO
ALTER TABLE [dbo].[BillInfo] ADD  CONSTRAINT [DF__BillInfo__count__695C9DA1]  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[NewBill] ADD  CONSTRAINT [DF__NewBill__name__473C8FC7]  DEFAULT (N'Bill name') FOR [name]
GO
ALTER TABLE [dbo].[NewBill] ADD  CONSTRAINT [DF__NewBill__status__4830B400]  DEFAULT (N'Paying') FOR [status]
GO
ALTER TABLE [dbo].[Phone] ADD  CONSTRAINT [DF__Phone__name__52AE4273]  DEFAULT (N'Chưa đặt tên') FOR [name]
GO
ALTER TABLE [dbo].[Phone] ADD  CONSTRAINT [DF__Phone__price__53A266AC]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[PhoneCategory] ADD  CONSTRAINT [DF__PhoneCateg__name__4EDDB18F]  DEFAULT (N'NULL') FOR [name]
GO
ALTER TABLE [dbo].[StoreCategory] ADD  CONSTRAINT [DF__StoreCateg__name__4C0144E4]  DEFAULT (N'NULL') FOR [name]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__status__5E1FF51F] FOREIGN KEY([idNewBill])
REFERENCES [dbo].[NewBill] ([idNewBill])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__status__5E1FF51F]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD  CONSTRAINT [FK__BillInfo__idBill__6A50C1DA] FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[BillInfo] CHECK CONSTRAINT [FK__BillInfo__idBill__6A50C1DA]
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD  CONSTRAINT [FK__BillInfo__idItem__6B44E613] FOREIGN KEY([idItemPhone])
REFERENCES [dbo].[Phone] ([idItemPhone])
GO
ALTER TABLE [dbo].[BillInfo] CHECK CONSTRAINT [FK__BillInfo__idItem__6B44E613]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK__Phone__idPhone__54968AE5] FOREIGN KEY([idPhone])
REFERENCES [dbo].[PhoneCategory] ([idPhone])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK__Phone__idPhone__54968AE5]
GO
ALTER TABLE [dbo].[PhoneCategory]  WITH CHECK ADD  CONSTRAINT [FK__PhoneCate__idSto__4FD1D5C8] FOREIGN KEY([idStore])
REFERENCES [dbo].[StoreCategory] ([idStore])
GO
ALTER TABLE [dbo].[PhoneCategory] CHECK CONSTRAINT [FK__PhoneCate__idSto__4FD1D5C8]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCountQuanlity]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetCountQuanlity]
	as
	begin 

						SELECT Phone.name ,sum(BillInfo.count) AS COUNTQUALITY, sum(phone.price) as TotalPrice FROM dbo.BillInfo
						LEFT JOIN dbo.Phone ON Phone.idItemPhone = BillInfo.idItemPhone 
						GROUP BY Phone.name ORDER BY COUNT(BillInfo.count) DESC
	end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE  proc [dbo].[USP_GetListBillByDate]
	@checkIn date
	as
	begin 
		select n.name as [NewBill 1] , b.totalPrice as [total Price] ,DateCheckIn as [Date Check In], discount  as [discount]
		from dbo.Bill as b,dbo.NewBill as n
		where dateCheckIn > = @checkIn and b.status = 1 and n.idNewBill = b.idNewBill
	end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateAndPage]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateAndPage]
@checkIn date, @page int
AS 
BEGIN
	DECLARE @pageRows INT = 10
	DECLARE @selectRows INT = @pageRows
	DECLARE @exceptRows INT = (@page - 1) * @pageRows;
	
	WITH BillShow AS( SELECT b.idBill, n.name AS [Name new bill], b.totalPrice AS [Tổng tiền], DateCheckIn AS [Ngày vào], discount AS [Giảm giá]
	FROM dbo.Bill AS b,dbo.NewBill AS n
	WHERE DateCheckIn >= @checkIn  AND b.status = 1 AND n.idNewBill = b.idNewBill)
	
	SELECT TOP (@selectRows) * FROM BillShow WHERE idBill NOT IN (SELECT TOP (@exceptRows) idBill FROM BillShow)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPhone]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetListPhone]
as select * from dbo.Phone
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPhoneCategory]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetListPhoneCategory]
as select * from dbo.PhoneCategory
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPhoneCatePhone]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetListPhoneCatePhone]
as select p.idPhone, p.name, p.idItemPhone, p.price from dbo.Phone p, dbo.PhoneCategory pc where p.idPhone = pc.idPhone
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListTable]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetListTable]
as select * from dbo.StatusPhone
GO
/****** Object:  StoredProcedure [dbo].[USP_GetNumBillByDate]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetNumBillByDate]
@checkIn date
AS 
BEGIN
	SELECT COUNT(*)
	FROM dbo.Bill AS b,dbo.NewBill AS n
	WHERE DateCheckIn >= @checkIn  AND b.status = 1
	AND n.idNewBill = b.idNewBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[USP_InsertBill]
	 @idNewBill int
	 as
	 begin 
		insert dbo.Bill(DateCheckIn,idNewBill,status,discount) values(Getdate(),@idNewBill,0,0)
		
	 end 
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill1]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 ---proc
	 create proc [dbo].[USP_InsertBill1]
	
	 as
	 begin 
		insert dbo.Bill(DateCheckIn,status) values(getdate(),1)
		
	 end 
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 create proc [dbo].[USP_InsertBillInfo]
	 @idItemPhone varchar(20),  @count int
	 as
	 begin 
		insert dbo.BillInfo(idItemPhone,count) values(@idItemPhone,@count) 
	 end
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo1]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 create proc [dbo].[USP_InsertBillInfo1]
	  @count int
	 as
	 begin 
		insert dbo.BillInfo(idItemPhone,count) values(N'IP7Plus',@count) 
	 end
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo2]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 create proc [dbo].[USP_InsertBillInfo2]
	 @idItemPhone varchar(20),  @count int
	 as
	 begin 
		insert dbo.BillInfo1(idItemPhone,count) values(@idItemPhone,@count) 
	 end
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo3]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_InsertBillInfo3]
	 @idBill int, @idItemPhone int, @count int
	 as 
	 begin

		declare @isExitsBillInfo int;
		declare @phoneCount  int  = 1
		select @isExitsBillInfo = idBillInfo, @phoneCount = b.count  
		from dbo.BillInfo as b 
		where idBill = @idBill and idItemPhone = @idItemPhone

		if(@isExitsBillInfo > 0 )
		begin
			declare @newCount int = @phoneCount + @count 
			if(@newCount > 0 ) 
			update dbo.BillInfo set count = @phoneCount + @count where idItemPhone = @idItemPhone
			else
			delete dbo.BillInfo where idBill = @idBill and idItemPhone = @idItemPhone
		end

		else
			begin
				insert dbo.BillInfo(idBill,idItemPhone,count) values (@idBill,@idItemPhone,@count)
			end 
		end
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[USP_Login] 
@userName nvarchar(100), @passWord nvarchar(100)
as
Begin
	Select * from dbo.Account where UserName = @userName and PassWord = @passWord
end
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 11/10/2020 10:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_UpdateAccount]
	 @userName nvarchar(100), @displayName nvarchar(100), @password nvarchar(100), @newPassword nvarchar(100)
	 as
	 begin
		declare @isRightPass int  = 0
		select @isRightPass = count(*) from dbo.Account where UserName = @userName and PassWord = @password

		if(@isRightPass = 1)
		begin
			if(@newPassword = null or @newPassword = '') 
				begin
					update dbo.Account set DisplayName = @displayName where UserName = @userName
				end
			else
				update dbo.Account set DisplayName =  @displayName, PassWord = @newpassword where UserName = @userName
		end

	 end
GO
/****** Object:  Statistic [PK__Account__C9F28457308CCB7D]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[Account]([PK__Account__C9F28457308CCB7D]) WITH STATS_STREAM = 0x01000000010000000000000000000000814644F60000000040000000000000000000000000000000E703CC7CE7000000C80000000000000008D00034FFFFEF7F, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5A4F643B]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_5A4F643B] ON [dbo].[Bill]([DateCheckIn]) WITH STATS_STREAM = 0x010000000100000000000000000000006F4E68A1000000003402000000000000F401000000000000280300732800000003000A0000000000000000000000000007000000125E42016CAC000011000000000000001100000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001300000000004040000088410000000000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000780000000000000080000000000000008800000000000000200000000000000036000000000000004C000000000000006200000000000000100013000000C040000000000000803FC4410B040000100013000000803F000000000000803FC5410B0400001000130000004040000000000000803FC6410B040000100013000000E040000000000000803FC7410B04000011000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5A4F643B]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_5A4F643B] ON [dbo].[Bill]([idNewBill]) WITH STATS_STREAM = 0x010000000100000000000000000000002FC0C78500000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000FFFFEF7F07000000B8A6050168AC000004000000000000000400000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000000040000000000000803F050000000400001000140000000040000000000000803F0600000004000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_5A4F643B]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_5A4F643B] ON [dbo].[Bill]([status]) WITH STATS_STREAM = 0x01000000010000000000000000000000620C569900000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000FFFFEF7F07000000B7A6050168AC000004000000000000000400000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000000040000000000000803F000000000400001000140000000040000000000000803F0100000004000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK__Bill__E6F93398F23DC07E]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[Bill]([PK__Bill__E6F93398F23DC07E]) WITH STATS_STREAM = 0x010000000100000000000000000000002E852401000000001902000000000000D901000000000000380300003800000004000A0000000000000000000000000007000000B8A6050168AC0000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F0400000004000004000000000000000000000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_668030F6]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_668030F6] ON [dbo].[BillInfo]([idBill]) WITH STATS_STREAM = 0x0100000001000000000000000000000016D6ACA100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000DAE64D016EAC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F6500000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_668030F6]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_668030F6] ON [dbo].[BillInfo]([idItemPhone]) WITH STATS_STREAM = 0x010000000100000000000000000000007A9EF1D100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000DAE64D016EAC000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F1A00000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK__BillInfo__771580BBEA3674F3]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[BillInfo]([PK__BillInfo__771580BBEA3674F3]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 19, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__NewBill__3C69844F11C9AE56]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[NewBill]([PK__NewBill__3C69844F11C9AE56]) WITH STATS_STREAM = 0x010000000100000000000000000000000433D70600000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000F67B8B0168AC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F08000000040000100014000000803F000000000000803F0900000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000001_50C5FA01]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000001_50C5FA01] ON [dbo].[Phone]([idPhone]) WITH STATS_STREAM = 0x0100000001000000000000000000000055A5EEA100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000007F0000000700000092D9990068AC000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0100000004000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_50C5FA01]    Script Date: 11/10/2020 10:28:01 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_50C5FA01] ON [dbo].[Phone]([name]) WITH STATS_STREAM = 0x010000000100000000000000000000008C9217C10000000086030000000000004603000000000000E7030000E7000000C80000000000000008D000340000000007000000E6620B016EAC000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000000042000080400000000000000042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000FC00000000000000C201000000000000CA01000000000000D201000000000000200000000000000055000000000000009200000000000000C300000000000000300010000000803F000000000000803F040000010035004100690072002D0070006F00720074002000730065007200690020003300300010000000803F000000000000803F04000001003D006100700070006C0065002000630068006100720067006500720020006300610062006C006500300010000000803F000000000000803F040000010031006900500068006F006E00650020003700200050006C0075007300300010000000803F000000000000803F04000001003900530061006D00530075006E0067002000470061006C00610058007900200073003700FF01000000000000000400000004000000280000002800000000000000000000003F0000004100690072002D0070006F00720074002000730065007200690020003300700070006C0065002000630068006100720067006500720020006300610062006C0065006900500068006F006E00650020003700200050006C0075007300530061006D00530075006E0067002000470061006C00610058007900200073003700060000004000000000C001000000810E01000001120F0000810D21000001112E00000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK__Phone__669B25A6E58155D0]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[Phone]([PK__Phone__669B25A6E58155D0]) WITH STATS_STREAM = 0x01000000010000000000000000000000FF676F5F00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000007B01000007000000B9A6050168AC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__PhoneCat__E540EED671D24F22]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[PhoneCategory]([PK__PhoneCat__E540EED671D24F22]) WITH STATS_STREAM = 0x01000000010000000000000000000000D79D77880000000057020000000000001702000000000000380300003800000004000A000000000000000000000000000700000080ED13016DAC0000080000000000000008000000000000000000803F0000003E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000004100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F000000000000803F0800000004000008000000000000000000000000000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__StoreCat__A4B61B106732E0AC]    Script Date: 11/10/2020 10:28:01 AM ******/
UPDATE STATISTICS [dbo].[StoreCategory]([PK__StoreCat__A4B61B106732E0AC]) WITH STATS_STREAM = 0x010000000100000000000000000000008864E4560000000040000000000000000000000000000000380300003800000004000A00000000000000000001000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
